body {font-family: 'Nunito', sans-serif;} 
h1,h2 {color: #000070;;}
.evenrow{background-color: chocolate;}
h1 {font-size: 3em;}
h2{font-size: 2em;}
nav a:link{
    color: #00ff00;
    
}

nav a:visited{
    color: #0000ff;
}

nav a:hover{
    color: #0fffff;
    background-color: #b32db3;
}

nav {
    padding: 10px;
}

nav{
    margin-bottom: 30px ;
}

@media only screen and (max-width:600px){
    .nav a{max-width: 100%;
        display:block;}
    .nav a {display:none;}}


    
